extends _layout/layout_index

//- Default value
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'
	- var href = "/index.html"

//- body
block body
	section.container
		.row.mt-5
			.col-12.d-flex.justify-content-center.align-items-center 
				h3 Demo
		.row.mt-5
			.col-12.text-center
				a.btn.mb-2.btn-primary(href="./users.html") Users Demo
				| &nbsp;
				a.btn.mb-2.btn-warning(href="./admin.html") Admin Demo
				| &nbsp;
				a.btn.mb-2.btn-success(href="./gp12.html") GP12 Demo
