/////////////////////////////////
// In Processing
/////////////////////////////////
.in-process
	min-height: 2rem
	color: #fff
	overflow-x: hidden
	&.in-processing
		background: $main
		article
			width: 100%
			display: block
			h4 
				+fz(.8rem)
				+fw(600)
				+mar(0)
			h3 
				+fz(1rem)
				+fw(600)
				+mar(0)
			.number-text
				+fz(3.5rem)
				white-space: nowrap
				+lh(3.5rem)
				+fw(900)
				+mar(0)
			.desc-text
				+fz(1.5rem)
				white-space: nowrap
				+lh(1.5rem)
				+fw(900)
				+mar(0)
			.secondary-text
				h3 
					+fz(.85rem)
				.number-text
					+fz(2.5rem)
					+lh(2.5rem)
					.percent
						+fz(1.8rem)
		.group-items
			display: flex
			flex-wrap: wrap
			.item
				flex: 0 0 25%
				width: 25%
				max-width: 25%
				figure
					display: flex
					flex-wrap: wrap
					+mar(0)
					.icons
						flex: 0 0 auto
						width: auto
						max-width: 100%
						img
							width: 2rem
							max-width: 2rem
							filter: invert(1)
					figcaption
						flex-basis: 0
						flex-grow: 1
						min-width: 0
						max-width: 100%
						padding-left: .5rem
						white-space: nowrap
						h3 
							+fz(.9rem)
							+lh(.9rem)
							+mar(0)
							+fw(500)
							color: $sen
							&.mediumtext
								+fz(.75rem)
								+lh(.9rem)
							&.longtext
								+fz(.6rem)
								+lh(.9rem)
						p 
							+fz(1rem)
							+lh(1rem)
							+fw(700)
							+mar(null null 1rem 0)
							span 
								+fz(1.5rem)
								+lh(1.5rem)
								+fw(900)

	&.in-pending
		.tasks
			background: darken($bg,10% )
			border-top: 0.15rem solid #fff
			.col-sp
				flex: 0 0 7rem
				width: 7rem
				max-width: 7rem
				background: darken($bg,70% )
				color: #fff
			.col-schedule
				flex: 0 0 auto
				width: auto
				max-width: 100%
				background: darken($bg,0% )
				color: darken($bg,70% )
			&:nth-child(even)
				background: lighten($sen, 5%)
				.col-sp
					background: $main
				.col-schedule
					background: lighten($sen, 20%)
					color: $main
			article
				width: 100%
				display: block
				h3 
					+fz(.9rem)
					+fw(500)
					+mar(0)
				.number-text
					+fz(2.3rem)
					white-space: nowrap
					+lh(2.3rem)
					+fw(600)
					+mar(0)
			.owl-carousel
				.svg 
					path 
						fill: green
						fill-rule: evenodd
				.item 
					+pad(.5rem)
					img
						width: 2.5rem
						max-width: 2.5rem
						filter: contrast(175%) brightness(3%) hue-rotate(90deg)
				.owl-nav
					margin-bottom: 0
					button 
						i 
							display: block
							width: 2rem
							height: 2rem
							+lh(2rem)
